.today-appointments{
    width: 40%;
    margin: 20px;
    box-shadow: 3px 4px 20px gray;
    border-radius: 8px;
    padding: 5px 20px;
    height: fit-content;
}

.appointment-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    border-radius: 8px;
}
.appointment-items:hover{
    background-color: rgb(199, 211, 244);
}

.appointment-item-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.appointment-item-details{
    line-height: 0.2;
}
.appointment-item-details p{
    font-size: 13px;
}
